main {
    border-left: solid 3px #fcdad0;
    margin-left: 375px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}

#main-area {
    margin-left: 75px;
}