/* 
  
#title {
    width: 200px;
    height: 200px;
}

#girl {
    width: 100px;
}

header {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: fixed;
    margin-left: 40px;
}

#title-images {
    display: flex;
    justify-content: center;
    width: 300px;
}

h1 {
    font-size: 28px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}

p {
    font-family: Roboto;
    color: white;
} */